@use "../../styles/theme/theme";

button {
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 300;
}

button:hover {
  @extend .btn--hover;
}

@media (max-width: 500px) {
  button {
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 300;
  }
}
