// Light mode variables
$light-bg-color: #f5f5f5;
$light-text-color: #666666;
$light-heading-color: #444444;
$light-link-color: #007bff;
$light-text-50-opocity: #6b7280;
$light-hover-color: #a2a2a24e;
$light-mini-header: #333333;
$light-rank-container-bd: #1f2937;

// Dark mode variables
$dark-bg-color: #121212;
$dark-text-color: #ffffffbc;
$dark-heading-color: #ffffffde;
$dark-link-color: #007bff;
$dark-mini-header: #eeeeee;
$dark-text-50-opocity: #6b7280;
$dark-hover-color: #2b2b2bdd;

$coustom-red: #dc3545;
$coustom-green: #8dc647;
